<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <title>E-Vitual</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" id="navbar-top">
        <a class="navbar-brand" href="/" style="color: white;">E-Virtual</a>
        <div class="dropdown">
          <div style="color:#28a745;" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ion-icon name="person-circle-sharp" style="font-size: 50px;"></ion-icon>
            <%if(user){%>
              <span id="user"><%=user.hasOwnProperty('displayName')?user.displayName:user[0].name%></span>
            <%}%>
          </div>
          <div class="dropdown-menu">
            <% if(user){ %>
              <a href="" class="dropdown-item">Minha conta</a>
              <a href="" class="dropdown-item">Meu Carrinho</a>
              <a href="/login/logout" class="dropdown-item">Sair</a>
            <%}%>
            <%if(!user){%>
              <a href="/login/logar" class="dropdown-item">Logar</a>
              <a href="/login/cadastrar" class="dropdown-item">Cadastrar</a>
            <%}%>
          </div>
        </div>
        <a class="nav-link" href="/cart/mycart" tabindex="-1" aria-disabled="true">
          <ion-icon name="cart-outline" style="font-size: 35px;"></ion-icon>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-bar" aria-controls="menu-bar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="menu-bar">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
      <script src="/assets/js/script.js"></script>
</body>
</html>